<% unless @entry.errors.empty? %>
  <div class="validation-errors">
    <%= format_errors(@entry.errors.full_messages) %>
  </div>
<% end %>

<%= f.label :first_name %>
<%= f.text_field :first_name %>
<br />
<%= f.label :last_name %>
<%= f.text_field :last_name %>
<br />
<%= f.label :phone_number %>
<%= f.text_field :phone_number %>
<br />
<div class="field-tip">
  E.g. +39 123 123456
</div>
<br />
